pyrofork==2.3.42
TgCrypto==1.2.5
fastapi==0.111.0
uvicorn[standard]==0.30.1
Pillow==10.3.0
python-dotenv==1.0.1
SQLAlchemy==2.0.30
aiosqlite==0.20.0
ffmpeg-python==0.2.0
python-multipart==0.0.9
aiofiles==23.2.1
PyJWT==2.8.0

